<!DOCTYPE html>
{% load static %}
{% load pages_tags %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}PyRead{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pages/css/base.css' %}">
  </head>
  <body>
    {% block content %}

    {% endblock %}
    {% block sidebar %}
    <div>
      {% category_list category %}
    </div>
    {% endblock %}
    <hr>
    <div>
      <ul>
        <li><a href="{% url 'pages:create' %}">Add New Category</a></li>
        <li><a href="{% url 'pages:about' %}">About</a></li>
        <li><a href="{% url 'root' %}">Index</a></li>
      </ul>
    </div>
    <script src="{% static 'pages/js/main.js' %}">

    </script>
  </body>
</html>
