{% extends "pages/base.html" %}

{% block title %}
  Add Page | {{ block.super }}
{% endblock %}

{% block content %}
  <h1>Add new Page</h1>
  <div>
    <form id="category_form" method="post" action="" novalidate>
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.help_text }}<br>
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}

      <input type="submit" name="submit" value="Create Page" />
    </form>
  </div>
  <a href="{% url 'category_detail' category.slug %}">Cancel</a>
{% endblock %}
