{% extends "pages/base.html" %}
{% load static %}
{% block content %}
  <h1>PyRead</h1>
  <div>
    <p>Hello, there</p>
  </div>
  <div>
    <h1>Most Liked Categories</h1>
    {% if categories %}
    <ul>
      {% for category in categories %}
        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
  </div>
  <div >
    <h1>Most Viewed Links</h1>
    {% if pages %}
    <ul>
      {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <strong>There are no pages present.</strong>
    {% endif %}
  </div>
  <div>
    <hr>
    <a href="{% url 'pages:about'%}">About Rango</a><br />
    <a href="{% url 'pages:create'%}">Add new category</a><br>
    <img src="{% static "pages/images/logo.png" %}" alt="Python logo" />
  </div>
{% endblock %}
